/* Responsive styles for medium Device  */
@media screen and (max-width: 992px) {
  /* Navigation Styles  */
  nav ul {
    display: none;
  }
  nav i {
    display: block;
  }
  /* Banner Styles  */
  .banner {
    gap: 10px;
  }
  .banner h1 {
    font-size: 22px;
  }
  .banner form {
    flex-direction: column;
    gap: 14px;
    max-width: 287px;
  }
  .banner form select,
  .banner form input[type="text"],
  .banner form .btn {
    width: 100%;
  }
  /* Popular Section Styles  */
  .popular {
    flex-direction: column;
  }
  .popular .img {
    flex-basis: auto;
  }
  /* Destination Section Styles  */
  .destination {
    grid-template-columns: repeat(2, 1fr);
  }
  .destination div:nth-child(1) {
    grid-column: span 2 !important;
  }
  .destination div {
    grid-column: span 1 !important;
  }
}
/* Responsive Styles for Small Device  */
@media screen and (max-width: 600px) {
  /* Destination Styles  */
  .destination div {
    grid-column: span 2 !important;
  }
}
